.Interface {
  width: 39em;
  height: 35em;
  margin: 1em 1em;
  table-layout: fixed;
}

.Interface-button {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  height: 1.8em;
  width: 2.6em;
  display: block;
  font-size: 3em;
  color: hsl(30, 5%, 95%);
  background-color: hsl(30, 5%, 75%); 
  box-shadow: 0 0.15em hsl(30, 5%, 45%);
  border: 0;
  outline: 0;
  border-radius: 0.5em;
}

.Interface-button:active {
  position: relative;
  top: 0.15em;
  box-shadow: 0 0 0;
}

.dualwidth {
  width: 5.8em;
}

.dualheight {
  height: 4em;
}

.operator {
  background-color: hsl(30, 10%, 40%); 
  box-shadow: 0 0.15em hsl(30, 5%, 20%);
}

.function {
  background-color: hsl(30, 80%, 60%); 
  box-shadow: 0 0.15em hsl(30, 80%, 40%);
}
